.userProfessions {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  
.userProfession {
      flex-basis: 10%;
      margin: 1em;
      padding: 1em;
      background-color: #A4724A;
      border:#7C6B64 groove 2px;
  }

  .form-group {
    height: 10em;
  }