.bosses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.boss {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      background-color: #A4724A;
      border: #7C6B64  groove 2px;
  }
  .bossDiv {
    background-color: #89300F;
    margin: 2em;
    padding: 2em;
    
  }
  .boss__image {
    width: 400px;
    border: groove #7C6B64 2px;
    

  }
  .BossContainer {
    display: flex;
    justify-content: center;
    background-color: #89300F;
  }
  .boss__summary {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    background-color: #A4724A;
    border: groove 2px #7C6B64 
  }
  .comment {
    
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      background-color: #A4724A;
      border: #7C6B64  groove 2px;
      
  }

  .comment__user {
    font-weight: bold;
    
  }